$image-url: "../img/6b60e56eadc2fe9793a5d6dbe1e07b5a.jpg";

$color : (
    "primary": #AEB89F,
    "secondary": #4B6653,
    "error": #e84141
);

@font-face {
    font-family: "Osake";
    src: url("../font/Osake.otf") format("opentype");
};

@font-face{
    font-family: "Genjiro";
    src: url("../font/Genjiro.ttf") format("true")
}