@use "../custom.scss" as custom;

.css_{
    &form{
        background-color: rgba(map-get(custom.$colors , "secondary"), 0.3);
        padding: 1.5em;
        border-radius: 0.5em;
        backdrop-filter: blur(5px);
        margin-top: 10em;
        &-wrapper{
            display: flex;
            height: 100vh;
            width: 100%;
            align-items: center;
            justify-content: center;
            gap: 10em;
        }
        &-row{
            display: flex;
            flex-direction: row;
        }
        &-input{
            border-radius: 0.6rem;
            outline: none;
            background-color: rgba(map-get(custom.$colors , "secondary"), 0.3);
            border: 0.15rem solid rgba(map-get(custom.$colors , "primary"), 0.5);
            color: map-get(custom.$colors , "primary");
            &::placeholder{
                color: map-get(custom.$colors , "primary")
            }
        }
    }
}